NEXT_PUBLIC_APP_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
DATABASE_URL=
REDIS_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_SERVICE_ACCOUNT_JSON=
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=
XENDIT_PRO_PLAN_PRICE=
XENDIT_PRO_PLAN_NAME=
FREE_PLAN_DAILY_LIMIT=
FREE_PLAN_MAX_INSTANCES=
FREE_PLAN_MAX_CAMPAIGNS=
MIN_DELAY_SECONDS=
ADMIN_EMAIL=
ADMIN_PASSWORD=
